.header {
  padding: 92px 52px 92px 50.52px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 36px;
  white-space: nowrap;
}

.header-logo-image {
  width: 148px;
  height: 105px;
}

.header-links-list {
  display: flex;
  list-style: circle;
  gap: 31.7px;
  letter-spacing: 0.18px;
  text-decoration: underline;
}

.header-links-list-active {
  list-style: none;
  text-decoration: none;
}

.header-link-active {
  text-decoration: none;
}

.address-contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 24.3px;
  text-align: left;
  font-style: normal;
  padding-left: 28px;
}

.header-menu {
  display: flex;
  padding-top: 42px;
}

.contact-link {
  letter-spacing: 0.18px;
  text-decoration: underline;
}

.cover {
  padding: 165px 50px 51px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 757px;
  width: auto;
  z-index: -1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  position: absolute;
  z-index: -1;
}

.cover-title {
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  gap: 20px;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30px;
  word-spacing: 20px;
  line-height: 100px;
}

.cover-description {
  padding-top: 135px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 2;
}

.text-description {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 28px;
  word-spacing: 18px;
  padding-left: 30px;
}

.button {
  color: white;
  background-color: transparent;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  width: 256px;
  min-height: 51px;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
  white-space: nowrap;
  font-family: Raleway, sans-serif;
  margin-left: auto;
}

.aligned-text :first-child {
  line-height: 115px;
}

a {
  text-decoration: none;
}

.aligned-text {
  display: flex;
  justify-content: start;
  align-items: center;
}

.aligned-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aligned-text-right {
  display: flex;
  justify-content: end;
  align-items: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.lots {
  padding: 0 23.3px;
}

.lots-title {
  padding: 179px 0 27px 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.list-lots {
  display: flex;
  gap: 21px;
  position: relative;
  z-index: 1;
  list-style: none;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 22px;
  line-height: 26.4px;
  width: 336px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding: 0 40px 48px 40px;
  justify-content: space-between;
  height: 100%;
  z-index: -1;
}

.card-title {
  text-align: left;
  font-size: 22px;
  text-decoration-line: underline;
  position: relative;
  z-index: 2;
  line-height: 26.4px;
  display: flex;
  flex-wrap: no-wrap;
  padding-top: 49px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-text {
  display: flex;
  position: relative;
  text-transform: lowercase;
  font-size: 20px;
  line-height: 24px;
  align-items: start;
}

.card-film {
  background-image: url(../images/лоты/card-lot-01.jpg);
}

.card-book {
  background-image: url(../images/лоты/card-lot-02.jpg);
}

.card-picture {
  background-image: url(../images/лоты/card-lot-03.jpg);
}

.more-link {
  display: block;
  margin: 27px 0 148px 40px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  padding: 35px 24px 157px 71px;
}

.about-column {
  display: flex;
  justify-content: start;
}

.about-logo {
  width: 240px;
  border-radius: 50%;
  display: flex;
  align-self: start;
  background-color: black;
}

.about-logo-image {
  margin: 63px 48px;
  width: 148px;
  height: 114px;
}

.about-title {
  padding: 101px 0 100px 72px;
  display: flex;
  justify-content: start;
  justify-self: start;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.about-text {
  padding: 0 0 24px 74px;
  display: flex;
  font-size: 20px;
  line-height: 24px;
  gap: 26px;
}

p:last-child {
  padding-bottom: 0;
}

.footer {
  margin-top: 27px;
  text-align: center;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  border: 1px solid black;
}

.footer-link-item {
  list-style: none;
}

.footer-menu {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.footer-link {
  text-decoration: underline;
}

.footer-link-active {
  text-decoration: none;
}

.footer-links-list-item {
  list-style: none;
}

.logo-menu {
  display: flex;
  gap: 48px;
  align-items: center;
}

.img-logo {
  width: 48px;
}

.logo-link-item {
  list-style: none;
  display: flex;
  align-self: start;
  padding-left: 0;
}
